.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: brown;
}

.background h1 {
    color: #fff;
    font-size: 3rem;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85.5%;
    color: #53001D;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    gap: 2rem;
    width: 100%;
}