.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
}


.footerUpper {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}


.left {
    padding: 1rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.logoArea {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}


.footerUpper p {
    font-size: 12px;
    font-weight: 100;
    color: #606060;
}


.line {
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
}


.footerLower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.footerLower p {
    font-size: 12px;
    font-weight: 100;
    color: #606060;
}


.right .links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.icon {
    width: 20px;
    height: 20px;
}

.icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.columns .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.columns {
    height: 150px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title {
    font-size: 16px;
    font-weight: 600;
    color: #53001D;
}
