.icon {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #e6e6e6;
    cursor: pointer;
}

.icon img {
    width: 1.2rem;
    height: 1.2rem;
}